<div class="px-4 py-5 md:px-6 lg:px-8">
    <div class="mb-3 font-bold text-3xl" style="display: flex; justify-content: space-between; align-items: center;" *ngIf="surveys.length > 0 && isInitdone">
        <div>
            <span class="text-900">Welcome, </span>
            <span class="text-purple-600">{{user.name}}</span>
        </div>
        <p-button label="Logout" (onClick)="logout()" styleClass="p-button-danger"></p-button>
    </div>

    <div class="p-d-flex p-jc-center p-ai-center p-absolute" style="top: 0; right: 0; bottom: 0; left: 0; border: 2px solid red; border-radius: 7px; padding: 20px;" *ngIf="surveys.length === 0 && isInitdone">
        <div class="p-m-2">
            <h2>No surveys available</h2>
            <p>Please check back later or ask the administrator to assign you new surveys</p>
        </div>
    </div>

    <div *ngIf="items.length > 0 && isInitdone">
    <p-menubar [model]="items"
        [style]="{'background-color': '#252525', 'margin-top': '10px', 'margin-bottom': '40px', 'border-color': '#3a3a3a'}"></p-menubar>
    </div>

    <div class="grid equal-height" *ngIf="surveys.length > 0 && isInitdone">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="customBackground customBorder shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">User Completed Surveys</span>
                        <div class="text-900 font-medium text-xl">152</div>
                    </div>
                    <div
                        class="icon-container flex align-items-center justify-content-center bg-green-100 border-round">
                        <i class="pi pi-check-circle text-green-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">this week</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="customBackground customBorder shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Avg. Survey Complete Time
                        </span>
                        <div class="text-900 font-medium text-xl">5min 23s</div>
                    </div>
                    <div
                        class="icon-container flex align-items-center justify-content-center bg-orange-100 border-round">
                        <i class="pi pi-clock text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">-22% </span>
                <span class="text-500">this week</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="customBackground customBorder shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total Answered Questions</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="icon-container flex align-items-center justify-content-center bg-cyan-100 border-round">
                        <i class="pi pi-question text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">520 new </span>
                <span class="text-500">this week</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="customBackground customBorder shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Current Available Surveys
                        </span>
                        <div class="text-900 font-medium text-xl">12</div>
                    </div>
                    <div
                        class="icon-container flex align-items-center justify-content-center bg-purple-100 border-round">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">2 new </span>
                <span class="text-500">this week</span>
            </div>
        </div>
    </div>
    <!--End of dashboard cards-->

    <br>
    <p-toolbar *ngFor="let survey of surveys" class="p-mb-3 customBackground"
        [style]="{'background-color': '#252525', 'margin-top': '10px', 'margin-bottom': '20px', 'border-color': '#3a3a3a'}">
        <div class="p-d-flex p-ai-center p-jc-start">
            <h3 class="p-mr-2">{{survey.descr}}</h3>
            <span class="start-date" pTooltip="Complete start date: {{survey.startDate}}" tooltipPosition="top">
                {{survey.startDate | date:'dd MMMM'}}</span>
            <span> - </span>
            <span class="end-date" pTooltip="Complete end date: {{survey.endDate}}" tooltipPosition="top">
                {{survey.endDate | date:'dd MMMM'}}</span>
        </div>
        <div class="p-toolbar-group-right">
            <button pButton icon="pi pi-print" class="mr-2" pTooltip="Print" tooltipPosition="top"
                tooltipShowDelay="300"></button>
            <button pButton icon="pi pi-download" class="mr-2" pTooltip="Download .JSON" tooltipPosition="top"
            tooltipShowDelay="300"
            (click)="downloadSurvey(survey.id)"
            ></button>
            <button pButton icon="pi pi-file-edit" class="p-button-success" pTooltip="Answer Survey"
                tooltipPosition="top" tooltipShowDelay="300" (click)="openSurvey(survey.id)"></button>
        </div>
    </p-toolbar>
</div>



<div class="spinner-container" *ngIf="isLoading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
</div>
<p-toast></p-toast>