<div class="mainContainer">
            <h1 class="titleClass">{{surveyTitle}}</h1>
    <div class="form-container" *ngFor="let question of questions; let i = index">
        <div class="form-field" *ngIf="question.type === 'text'">
            <label [for]="question.id.toString()">{{ question.question }}</label>
            <input type="text" [id]="question.id.toString()" [(ngModel)]="answers[i].answer" name="answer{{i}}" pInputText />
        </div>

        <div class="form-field" *ngIf="question.type === 'date'">
            <label [for]="question.id.toString()">{{ question.question }}</label>
            <p-calendar [id]="question.id.toString()" [(ngModel)]="answers[i].answer" name="answer{{i}}"></p-calendar>
        </div>

        <div class="form-field" *ngIf="question.type === 'email'">
            <label [for]="question.id.toString()">{{ question.question }}</label>
            <input type="email" [id]="question.id.toString()" [(ngModel)]="answers[i].answer" name="answer{{i}}" pInputText />
        </div>

        <div class="form-field" *ngIf="question.type === 'multiple_select'">
            <label>{{ question.question }}</label>
            <p-multiSelect [options]="question.options" [(ngModel)]="answers[i].answer" placeholder="Select an option"></p-multiSelect>
        </div>

        <div class="form-field" *ngIf="question.type === 'solo_select'">
            <label>{{ question.question }}</label>
            <div *ngFor="let option of question.options; let j = index">
                <p-radioButton [value]="option" [(ngModel)]="answers[i].answer" name="answer{{i}}"></p-radioButton>
                <label>{{ option }}</label>
            </div>
        </div>  

        <div class="form-field range-field" *ngIf="question.type === 'range'">
            <label>{{ question.question }}</label>
            <div>
                <p-slider [(ngModel)]="answers[i].answer" [range]="true" [min]="0" [max]="1000" [style]="{'width':'200px'}"></p-slider>
                <div class="range-values">
                    <input type="text" [(ngModel)]="answers[i].answer[0]" pInputText style="width: 95px; margin-right: 10px;"/>
                    <input type="text" [(ngModel)]="answers[i].answer[1]" pInputText style="width: 95px;"/>
                </div>
            </div>
        </div>

        <div class="form-field" *ngIf="question.type === 'textarea'">
            <label [for]="question.id.toString()">{{ question.question }}</label>
            <textarea [id]="question.id.toString()" [(ngModel)]="answers[i].answer" name="answer{{i}}" pInputTextarea rows="5" cols="30"></textarea>
        </div>
    </div>
    <div class="button-container">
        <p-button label="Submit" (click)="submitForm()"></p-button>
    </div>
</div>


<p-scrollTop></p-scrollTop>
<div class="spinner-container" *ngIf="isLoading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s"></p-progressSpinner>
</div>
<p-toast></p-toast>