<div class="container">
    <div class="contentContainer">
        <header class="hero">
            <div class="hero-text">
                <h1>Welcome to <span style="font-size: 5rem;">VistaQs</span></h1>
                <p>Your tool for efficient and effective surveys</p>
            </div>
            <img src="../../../assets/survey-vector.png" alt="Survey illustration" width="200px">
        </header>

        <main>
            <p-button label="Getting Started"
                pTooltip="Log in and select your survey from the list. Follow the prompts to complete each survey."
                tooltipPosition="right" (click)="openDialog()">
            </p-button>
            <app-login></app-login>
        </main>
    </div>
</div>