.mainContainer {
    width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2525256f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.logo {
    width: fit-content;
    height: 50px;
    object-fit: cover;
    margin: 1rem 0 2rem 0;
}

.text {
    margin-bottom: 1rem;
}

.register-button {
    margin-bottom: 1rem;
}

.field {
    margin-bottom: 1rem;
}

.inputField{
    width: 100%;
    max-width: 450px;
}

.label {
    display: block;
}

.login-button {
    margin-top: 1rem;
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 100%;
    }

    .field {
        margin-bottom: 1rem;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .inputField{
        max-width: 100%;
    }
}