@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "primeicons/primeicons.css";

* {
    font-family: 'Poppins', sans-serif;
}

/* SCROLL */

/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
}