@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "primeicons/primeicons.css";

* {
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: rgba(128, 128, 128, 0.2);
}
::-moz-selection {
    background: rgba(128, 128, 128, 0.2);
    color: white;
}

/* SCROLL */

/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
}

body {
    margin: 0;
    height: 100%;
}